# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin
/.settings

.idea
bin/
.classpath
.settings
.factorypath
.project

container/mysql8.4/db_data
container/mysql8.4/backup
/container/redis8/single/data/
