[mysqld]

# 唯一服务器id
server-id=1
# 开启binlog
log_bin=mysql-bin
binlog_format=ROW

# 开启 GTID（Global Transaction ID，全局事务ID）
gtid_mode=ON
# 强制所有事务都必须满足 GTID 的要求
enforce_gtid_consistency=ON
# Slave 接收到 Master 的事务以后，也写入自己的 binlog
log_replica_updates=ON
# binlog 保存多久 s  7 days 
binlog_expire_logs_seconds=604800
# binlog 刷盘策略 0  操作系统决定 1 每提交一个事务就fsync
sync_binlog=1
# redo log 的刷盘策略 0 os  1 每次提交 2 写os cache
innodb_flush_log_at_trx_commit=1

character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
