[mysqld]

server-id=2

log_bin=mysql-bin

gtid_mode=ON

enforce_gtid_consistency=ON

log_replica_updates=ON

# 普通用户不能写
read_only=ON
# root 也不能写 super 最开始不要设置 不然不能创建root用户远程连接
# super_read_only=ON
relay_log=relay-log

character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
